<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DR-Prod 网络故障全局图</title>
    <script src="../static/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="../static/jtopo-0.4.8-min.js" type="text/javascript"></script>
    <script src="../static/bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            var canvas = document.getElementById("canvas");
            var stage = new JTopo.Stage(canvas);
            var scene = new JTopo.Scene(stage);
//            scene.background = '../img/bg.jpg';

            stage.eagleEye.visible = true;

            //JtopoDrawPointPath动画设置
            CanvasRenderingContext2D.prototype.JtopoDrawPointPath = function (a, b, c, d, e, f) {
                var animespeed = (new Date()) / 10;
                var xs = c - a,
                    xy = d - b,
                    l = Math.floor(Math.sqrt(xs * xs + xy * xy)),
                    colorlength = 50,
                    j = l;
                    xl = xs / l,
                    yl = xy / l;
                var colorpoint = animespeed % (l + colorlength) - colorlength;
                for (var i = 0; i < j; i++) {
                    if (((i) > colorpoint) && ((i) < (colorpoint + colorlength))) {
                        this.beginPath();
                        this.strokeStyle = e;
                        this.moveTo(a + (i - 1) * xl, b + (i - 1) * yl);
                        this.lineTo(a + i * xl, b + i * yl);
                        this.stroke();
                    } else {
                        this.beginPath();
                        this.strokeStyle = f;
                        this.moveTo(a + (i - 1) * xl, b + (i - 1) * yl);
                        this.lineTo(a + i * xl, b + i * yl)
                        this.stroke();
                    }
                }
            };

            function addNode(x, y, str, img, level) {
                var node = new JTopo.Node(str);
                node.serializedProperties.push('id');
                node.serializedProperties.push('level');
                node.setLocation(x,y);
                node.textPosition = 'Bottom_Center';
                node.fontColor = '0.0.0';
                node.setSize(80,50);
                node.id = x * y;
                node.level = 5;
                if (null != img){
                    node.setImage('../static/images/' + img ,false);
                }
                if (level == 1){
                    node.alarm = '节点网络告警';
//                    node.alarmColor = '0,0,0';
                    node.alarmAlpha = 0.4;
                }
                //待定
//                node.textPosition = textPosition;
//                node.fontColor = '0,0,0';
//                node.setSize(80, 40);
//                node.addEventListener('mouseup', function (event) {
//                    handler(event, node);
//                });
//                node.addEventListener('click', function (event) {
//                    endNode = node;
//                    if (null != currentNode && currentNode != endNode) {
//                        Addlink(currentNode, endNode);
//                        currentNode = null;
//                    }
//                });
                scene.add(node);
                return node;
            }

            //连接node
            function linkNode(nodeA,nodeB,str ,level) {
                var link;
                link = new JTopo.Link(nodeA,nodeB,str);
                link.direction = 'vertical';
                link.fontColor = '0, 200, 255'; //设置str的颜色
//                link2.dashedPattern = level; // 虚线
                scene.add(link);
//                return link;
            }

            //主机间连接
            function  hostLink(nodeA,nodeB,str,level) {
                var link = new JTopo.FlexionalLink(nodeA,nodeB,str);
                link.shadow = false;
                link.offsetGap = 44;
                link.fontColor = '0, 200, 255'; //设置str的颜色
                scene.add(link);
                return link;
            }

            //主机间 直线连接
            function newHostLink(nodeZ, nodeH, str,level) {
                var link = new JTopo.Link(nodeZ, nodeH, str);
                link.lineWidth = 2; // 线宽
                link.dashedPattern = 5; // 虚线
                link.bundleOffset = 60; // 折线拐角处的长度
                link.bundleGap = 20; // 线条之间的间隔
                link.textOffsetY = 3; // 文本偏移量（向下3个像素）
                link.strokeColor = '0,200,255';
                link.fontColor = '0, 200, 255'; //设置str的颜色
                scene.add(link);
                return link;
            }

            //节点间连接
            function dedicatedLink(node1, node2, str,level) {
                var link = new JTopo.Link(node1, node2, str);
                link.PointPathColor = "rgb(221,160,221)";
                link.lineWidth = 4;//线宽
                link.bundleOffset = 60;
                link.bundleGap = 20;
                link.textOffsetY = 3;
                link.fontColor = '0, 200, 255'; //设置str的颜色
                link.paintPath = function (a, b) {
                    if (this.nodeA === this.nodeZ) return void this.paintLoop(a);
                    a.beginPath(),
                        a.moveTo(b[0].x, b[0].y);
                    for (var c = 1; c < b.length; c++) {
                        null == this.dashedPattern ? (
                            (null == this.PointPathColor ? a.lineTo(b[c].x, b[c].y) : a.JtopoDrawPointPath(b[c - 1].x, b[c - 1].y, b[c].x, b[c].y, a.strokeStyle, this.PointPathColor))
                        ) : a.JTopoDashedLineTo(b[c - 1].x, b[c - 1].y, b[c].x, b[c].y, this.dashedPattern)
                    }
                    if (a.stroke(), a.closePath(), null != this.arrowsRadius) {
                        var d = b[b.length - 2],
                            e = b[b.length - 1];
                        this.paintArrow(a, d, e)
                    }
                };
                scene.add(link);
            }

            //曲线
            function newCurveLink(nodeA, nodeZ, str, level){
                var link2 = new JTopo.Link(nodeA, nodeZ, str);
                link2.lineWidth = 3; // 线宽
                link2.dashedPattern = 5; // 虚线
                link2.bundleOffset = 60; // 折线拐角处的长度
                link2.bundleGap = 20; // 线条之间的间隔
                link2.textOffsetY = 3; // 文本偏移量（向下3个像素）
                link2.strokeColor = '0,200,255';
                link2.fontColor = '0, 200, 255'; //设置str的颜色
                scene.add(link2);
                return link2;
            }


            $.ajax({
                url: "/run",
                type: 'get',
                //dataType: '',
                //data: {
                //},
                success: function(data,status,response){
                    var the_task_id = response.getResponseHeader('task_id');
                    if (the_task_id){
                        update_progress(the_task_id)
                    }
                },
                error: function(){
                    alert('Unexpected error');
                }
             })

            var jsonStr = '';
            function  update_progress(the_task_id) {
                $.get("/status/" + the_task_id,function (data) {
                    console.log("next http request ...")
                    if (data['state'] == 'success'){
                        draw_scene(data['data']);
                    }else{
                        draw_scene(jsonStr);
                        setTimeout(function () {
                            update_progress(the_task_id);
                        },8000);
                    }
                });
            }

            function draw_scene(todolists) {
                //每次清理桌布
                scene.clear();
                // var jsonStr = todolists| tojson }};
                var jsonObj = eval("(" + todolists + ")");
                jsonObj.forEach(function (t) {
                    if (t.elementType == "node"){
                        addNode(t.x, t.y, t.host + "(" + t.ip + ")", t.img, t.level);
                    }
                });

                jsonObj.forEach(function (t) {
                    if (t.elementType == "linkNode"){
                        var nodeA = scene.findElements(function (e) {
                            return e.id == t.nodeAid;
                        });

                        var nodeZ =  scene.findElements(function (e) {
                           return e.id == t.nodeZid;
                        });
                        if (nodeA[0] && nodeZ[0]){
                            linkNode(nodeA[0], nodeZ[0], t.text, t.level);
                        }
                    }else if (t.elementType == "hostLink"){
                        var nodeA = scene.findElements(function (e) {
                            return e.id == t.nodeAid;
                        });
                        var nodeZ =  scene.findElements(function (e) {
                            return e.id == t.nodeZid;
                        });
                        if (nodeA[0] && nodeZ[0]){
                            hostLink(nodeA[0], nodeZ[0], t.text, t.level);
                        }
                    }else if (t.elementType == "newHostLink") {
                        var nodeA = scene.findElements(function (e) {
                            return e.id == t.nodeAid;
                        });

                        var nodeZ =  scene.findElements(function (e) {
                            return e.id == t.nodeZid;
                        });
                        if (nodeA[0] && nodeZ[0]){
                            newHostLink(nodeA[0], nodeZ[0], t.text, t.level);
                        }
                    }else if (t.elementType == "newCurveLink"){
                        var nodeA = scene.findElements(function (e) {
                            return e.id == t.nodeAid;
                        });

                        var nodeZ =  scene.findElements(function (e) {
                            return e.id == t.nodeZid;
                        });
                        if (nodeA[0] && nodeZ[0]){
                            newCurveLink(nodeA[0], nodeZ[0], t.text, t.level);
                        }
                    }else if (t.elementType == "dedicatedLink"){
                        var nodeA = scene.findElements(function (e) {
                            return e.id == t.nodeAid;
                        });

                        var nodeZ =  scene.findElements(function (e) {
                            return e.id == t.nodeZid;
                        });
                        if (nodeA[0] && nodeZ[0]){
                            dedicatedLink(nodeA[0], nodeZ[0], t.text, t.level);
                        }
                    }
                });

                //设置app203
                setInterval(function () {
                    var nodeA = null;
                    jsonObj.forEach(function (t) {
                        if (t.elementType == "node" && t.host == "stnc-zabserver" ) {
                            nodeA = scene.findElements(function (e) {
                                return e.id == t.id;
                            });
                        }});
                    if(nodeA[0].alarm=='Zabbix Proxy'){
                        nodeA[0].alarm  = null;
                    } else{
                        nodeA[0].alarm = 'Zabbix Proxy';
                    }
                },2500);


                //设置app112
                setInterval(function () {
                    var nodeA = null;
                    jsonObj.forEach(function (t) {
                        if (t.elementType == "node" && t.host == "zabserver" ) {
                            nodeA = scene.findElements(function (e) {
                                return e.id == t.id;
                            });
                        }});
                    if(nodeA[0].alarm=='Zabbix Server'){
                        nodeA[0].alarm  = null;
                    } else{
                        nodeA[0].alarm = 'Zabbix Server';
                    }
                },2500);

                //设置所有告警节点
{#                setInterval(function () {#}
{#                    var nodeA = null;#}
{#                    jsonObj.forEach(function (t) {#}
{#                        if (t.elementType == "node" && t.level == 1 ) {#}
{#                            nodeA = scene.findElements(function (e) {#}
{#                                return e.id == t.id;#}
{#                            });#}
{#                        }});#}
{#                    if(nodeA != null && nodeA[0].alarm == null) {#}
{#                        nodeA[0].alarm  = "节点网络告警";#}
{#                    } else{#}
{#                        nodeA[0].alarm = null;#}
{#                        //node.alarmColor = '0,0,0';#}
{#                    }#}
{#                },1200);#}


            }

            // 新增2台防火墙间的连接
            // newCurveLink(sw_core2,sw_core1,"20M 备线 (Vlan600)", "255,0,0");
            // dedicatedLink(sw_core2,sw_core1,"20M 主线 (Vlan500)","255,0,0");
        });
    </script>
</head>
<body>
<button title="万国机房" type="button" name = "万国机房" onclick="" >万国机房</button>
<button title="科技网机房" type="button" name = "科技网机房" onclick="" >科技网机房</button>
<button title="八号桥机房" type="button" name = "八号桥机房" onclick="" >八号桥机房</button>
<button title="成都机房" type="button" name = "成都机房" onclick="" >成都机房</button>
<button title="深圳机房" type="button" name = "深圳机房" onclick="" >深圳机房</button>
<canvas width="1880"height="950"id="canvas"style=" background-color:rgba(238,238,238,0); border:1px solid #2d7bcd;"></canvas>
</body>
</html>